.backgroundcolor{
    background-color: lightblue
    
}



.image{
    width: 100px;
    height: 100px;
}

.headerstyle{
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large
}

.imagelostitem{
    width: 400px;
    height: 400px;
}

.container{
    display: flex;
    justify-content: center;
}

.container1{
    display: flex;
    justify-content: flex-end;
}

.gallery{
    display: flex;
    justify-content: space-around;
    flex-shrink: 3;
    flex-wrap: wrap
}


.text{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.h3{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}